body{
    background-color: #CFEFFF;
}
.titulo{
font-size: 9ex;
font-family: 'Berkshire Swash', cursive;
}

.portada{
width: 30%;
height: auto;
}
.encierra{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    border: 2px solid  #CFEFFF;
    margin: 0;
    padding: 0;
    background-color:  #CFEFFF;

}

div{
    background-color: rgb(145, 210, 243);
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 50px 50px 50px 270px;
    padding: 2em;
    align-items: center;

}
.menu{
    display: flex;
    flex-direction: column;
    width: 17%;
    position: fixed;
    left: 10px;
    height: 100vh;
    background-color: #CFEFFF;
    }
    .menu a{
        padding: 10px;
        background-color: #88d2f6;
        color: black;
        font-size: 15px;
        text-decoration: none;
    }
    
    .menu a:hover{
    background-color: rgb(64, 127, 243);
    }

img{
   width:50%;
   height:auto;
    }
    .fotos{
        display: flex;
        flex-direction: row;
        margin: 0px;
        
    }
    .m{
        width:16%;
        height: auto;
    }
    .c{
        width: 35%;
        height: auto;
    
    }
    .ancla{
            text-decoration: none;
            background-color: rgb(64, 127, 243) ;
            margin:2rem;
            border: black;
            padding: 20px;
            position: relative;   
    }